.single-fall {
	float: left;
	border: #eee 0px solid;
}

.waterfall {
	float: left;
}

.user_profile_left_column {
	width: 180px;
	height: 100px;
	border: red 1px solid;
	float: left;
}

.with_user_profile {
	float: left;
}

.item-box {
	border: black 1px solid;
	margin: 10px;
	overflow: hidden;
}

.item-box img{
}