@CHARSET "UTF-8";

/* Starting of the real css. */

/* float */
.float_r { float:right; }
.float_l { float:left; }
.clr_r { clear:right; }
.clr_l { clear: left; }
.clr { clear:both; }

/* position */
.pos_r { position: relative; }
.pos_a { position: absolute; }

/* font-color */
.color_red { color: red; }
.color_green { color: olive; }

/* Starting from here, the site-wide css. */

body {
	margin: 0;
}

#mainarea {
  clear: both;
  float: right;
  width: 1000px;
  min-height: 500px;
  background: #aaaaaa;
}

#main_sidebar {
	width: 120px;
	min-height: 500px;
	float: right;
	background: #aaaaaa;
}

#main_sidebar .user_profile {
	margin: 22px;
	width: 80px;
	height: 80px;
	background: olive;
}

#main_sidebar ul.main_menu {
	list-style-type: none;
	padding: 20px;
}

#main_sidebar .main_menu li {
	width: 80px;
	height: 80px;
	background: olive;
	margin-top: 10px;
}

#main_sidebar .account_menu {
	height: 50px;
	background: #dddddd;
}

#main_sidebar .account_menu_item {
	height: 100%;
	width: 50%;
	margin: 0;
	float: left;
}

#main_page {
	width: 880px;
	background: #ffffff;
}

#footer {
	display: none;
}

.head_bar {
  width: 100%;
  height: 50px;
  background: white;
}

.head_bar .search_box {
  float: right;
  width: 200px;
  height: 100%;
  background: silver;
}

.head_bar .logo {
  float: left;
  width: 100px;
  height: 48px;
  border: 1px solid black;
}

.head_bar ul.top-menu-bar {
  float: right;
  height: 100%;
  margin: 0;
  padding: 0;
}

.head_bar .top-menu-bar li {
  float: left;
  width: 100px;
  height: 100%;
  background: olive;
  border-right: 1px white solid;
}

.filter_bar {
  width: 100%;
  height: 40px;
}

.filter_bar .button_group {
  float: left;
  margin: 13px 40px 0;
}

.filter_bar .dense_mode_button {
  height: 10px;
  width: 10px;
  margin: 0 5px 0;
}


.filter_bar .button_group div {
  display: inline;
  margin: 0 5px 0;
  border: 1px solid black;
}

.filter_bar .filter_button {
  width: 100px;
  padding: 0 15px 0;
}

